<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner"><span>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <a class='twitter' href='https://twitter.com/swickaphil'></a><a class='github' href='https://github.com/swickaphil'></a>
    </span></div>
  </div>
</footer>