.headshot
  display: inline-block
  float: right
  padding: 25px
  padding-top: 0px

blockquote
  padding: 0 1em
  color: #777
  border-left: 0.25em solid #ddd

.twitter:before 
  content: "\f099"
  font-family: font-icon
  text-align: center
  font-size: font-size-lg
  width: font-size
  height: font-size
  padding: 1px 10px
  position: absolute
  cursor: pointer
  color: #999

.github:before
  content: "\f09b"
  font-family: font-icon
  text-align: center
  font-size: font-size-lg
  width: font-size
  height: font-size
  padding: 1px 35px
  position: absolute
  cursor: pointer
  color: #999